/* 
 * swc-grid-list.scss
 * 
 * @memberOf typography/lists
 */

// Import partials
@import './variables';
@import './mixins';

.swc-grid-list {
  display: flex;
  flex-flow: row wrap;

  > li:not(:last-child) {
    position: relative;
    margin: 0.5em 1em 0.5em 0;
    padding-right: 1em;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      display: block;
      background-color: map-get($swc-colors, gray);
    }
  }
  > li:last-child {
    margin: 0.5em 0 0.5em;
  }
}
