/* 
 * swc-checkbox.scss
 * 
 * @memberOf form/inputs
 */

// Import partials
@import './variables';
@import './mixins';

.swc-checkbox {
  @include check-core-styles;

  &__label::before {
    border-radius: 2px;
  }
  &__label::after {
    top: calc((1em * #{$swc-base-line-height} - 0.4em) / 2);
    left: 0.45em;
    width: 0.6em;
    height: 0.4em;
    background-color: transparent;
    border-bottom: 2px solid $swc-notice-color;
    border-left: 2px solid $swc-notice-color;
    transform: translateY(-25%) rotate(-45deg);
  }

  & + & {
    margin-top: 0.25em;
  }
}
