/* 
 * _mixins.scss
 * 
 * @memberOf container/media
 */

// Global Styles for menu components
@mixin media-core-styles() {
  margin: 0 0 2em;
  padding: 0;
  text-align: center;

  img,
  iframe,
  video {
    max-width: 100%;
  }
}

@mixin media-horizontal-styles() {
  margin-right: calc(-#{$swc-base-grid-gutter} / 2);
  margin-left: calc(-#{$swc-base-grid-gutter} / 2);
  display: flex;
  flex-flow: row;
}

@mixin media-horizontal-cell-styles() {
  flex: 0 0 auto;
  padding: calc(#{$swc-base-grid-gutter} / 2);
  margin-bottom: 0;
}

@mixin media-horizontal-body-styles() {
  flex: 1 1 auto;
  padding: calc(#{$swc-base-grid-gutter} / 2);
}