/* 
 * swc-tab-panel.scss
 * 
 * @memberOf container/panels
 */

// Import partials
@import './variables';
@import './mixins';

.swc-tab-panel {
  margin: 2em 0;

  &__header {
    overflow-x: auto;
    padding-bottom: 1px;
  }

  &__tabs {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;

    > * {
      margin: 0 0.25em;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  &__tab {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5em 1em;
    background-color: map-get($swc-colors , light-gray);
    border: 1px solid map-get($swc-colors , dark-gray);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: map-get($swc-colors, black);
    text-decoration: none;
    white-space: nowrap;

    &[aria-expanded="true"] {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: map-get($swc-colors , light-gray);
      }
    }

    &--primary {
      background-color: $swc-primary-bg-theme;
      border-color: $swc-primary-theme;
      &[aria-expanded="true"]::after {
        background-color: $swc-primary-bg-theme;
      }
    }

    &--secondary {
      background-color: $swc-secondary-bg-theme;
      border-color: $swc-secondary-theme;
      &[aria-expanded="true"]::after {
        background-color: $swc-secondary-bg-theme;
      }
    }

    &--success {
      background-color: $swc-success-bg-color;
      border-color: $swc-success-color;
      &[aria-expanded="true"]::after {
        background-color: $swc-success-bg-color;
      }
    }

    &--warning {
      background-color: $swc-warning-bg-color;
      border-color: $swc-warning-color;
      &[aria-expanded="true"]::after {
        background-color: $swc-warning-bg-color;
      }
    }

    &--alert {
      background-color: $swc-alert-bg-color;
      border-color: $swc-alert-color;
      &[aria-expanded="true"]::after {
        background-color: $swc-alert-bg-color;
      }
    }

    &--notice {
      background-color: $swc-notice-bg-color;
      border-color: $swc-notice-color;
      &[aria-expanded="true"]::after {
        background-color: $swc-notice-bg-color;
      }
    }
  }

  &__body {
    margin: -1px 0 0;
    padding: 1rem;
    background-color: map-get($swc-colors , light-gray);
    border: 1px solid map-get($swc-colors , dark-gray);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    @include kill-edge-child-margin(vertical);
    
    &[aria-hidden="true"] {
      display: none;
    }

    &__header + &__body {
      position: relative;
    }
    &__header + &__body::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: map-get($swc-colors , dark-gray);
    }

    &__header[aria-expanded] {
      position: relative;
      display: block;
      color: map-get($swc-colors, black);
      text-decoration: none;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translate(50%, -50%);
        background-color: map-get($swc-colors , dark-gray);
      }
      &::before {
        width: 1em;
        height: 2px;
      }
      &::after {
        height: 1em;
        width: 2px;
        transition: transform $swc-basic-transition;
      }
    }
    &__header[aria-expanded="true"] {
      &::after {
        transform: translate(50%, -50%) rotate(90deg);
      }
    }

    &__body[aria-hidden] {
      position: relative;
      margin: 0 0 -4rem;
      padding: 1rem 1rem 5rem;
      max-height: 99999px;
      overflow: hidden;
      transition: max-height $swc-basic-transition, padding-top $swc-basic-transition, padding-bottom $swc-basic-transition;
    }
    &__body[aria-hidden="true"] {
      height: 0;
      visibility: hidden;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      transition-duration: 0.2s;
    }
    &__body[aria-hidden="true"] * {
      visibility: hidden;
    }

    &--primary {
      background-color: $swc-primary-bg-theme;
      border-color: $swc-primary-theme;
    }

    &--secondary {
      background-color: $swc-secondary-bg-theme;
      border-color: $swc-secondary-theme;
    }

    &--success {
      background-color: $swc-success-bg-color;
      border-color: $swc-success-color;
    }

    &--warning {
      background-color: $swc-warning-bg-color;
      border-color: $swc-warning-color;
    }

    &--alert {
      background-color: $swc-alert-bg-color;
      border-color: $swc-alert-color;
    }

    &--notice {
      background-color: $swc-notice-bg-color;
      border-color: $swc-notice-color;
    }
  }
}
